@import "./config.scss";
.development {
  padding: 123px 0;
  overflow: hidden;

  &__slider {
    margin-top: 82px;
    display: flex;
    gap: 25px;
    transition: 0.3s;
  }
  &__item {
    display: flex;
    min-width: 694px;
    min-height: 391px;
    border: 2px solid #67aefc;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 55px 0;

    &-content {
      width: 300px;
    }
    &-title {
      font-weight: 700;
      font-size: 21px;
      line-height: 125%;
      margin-bottom: 27px;
    }
    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
    }
  }
  &__btns-conteiner {
    display: flex;
    gap: 30px;
    margin-left: calc(50% - 75px);
    margin-top: 84px;
  }
  &__button {
    &-next,
    &-prev {
      border: 2px solid #67aefc;
      border-radius: 15px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      cursor: pointer;
      transition: 0.3s;
      &:active {
        background-color: $primary;
      }
      &:active svg path {
        fill: #fff;
      }
    }
    &-prev {
      transform: rotate(90deg);
    }
    &-next {
      transform: rotate(-90deg);
    }
  }
}
