@import "./config";
.about {
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 41px;
    left: -150px;
    width: 300px;
    height: 180px;
    border: 2px solid #67aefc;
    border-radius: 50%;
  }
  &::after {
    content: url(../images/aboutPage/Layer.png);
    position: absolute;
    bottom: 75px;
    left: 75px;
  }
  &__conteiner {
    padding: 92px 0 41px 0;
    display: flex;
  }
  &__content {
    position: relative;
    min-width: 550px;
    margin-right: 60px;
    &-sphere {
      width: 53px;
    }
  }
  &__content-sphere {
    position: absolute;
    left: -84px;
    top: -25px;
  }

  &__images {
    position: relative;
    background: url(../images/repeats/waveBlue.png) no-repeat;
    background-position: left 60%;
    position: relative;
    &-ellips {
      position: absolute;
      width: 1220px;
      height: 550px;
      background-color: $secondary;
      border-radius: 50%;
      left: 49%;
      bottom: 90px;
      z-index: -1;
    }
    &-sphere {
      width: 59px;
      position: absolute;
      top: 61%;
      left: 26%;
    }
    &-wave {
      position: absolute;
      top: 26%;
      transform: rotateY(180deg);
      left: 78%;
    }
    &-purple {
      position: absolute;
      top: 53%;
      left: 33%;
    }
    &::before {
      content: url(../images/aboutPage/CylinderBlue.png);
      position: absolute;
      top: 0;
      left: calc(50% - 57px);
    }
    &::after {
      content: url(../images/aboutPage/CylinderPink.png);
      position: absolute;
      bottom: 57px;
      left: 80%;
    }
  }
  &__content-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    margin-bottom: 53px;
  }
  &__content-text {
    width: 432px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #111111;
    margin-bottom: 58px;
  }
}
