@import "./config.scss";
.design {
  width: 100%;
  padding: 110px 0;
  position: relative;
  background-color: $secondary;
  @media (max-width: 1024px) {
    padding: 43px 0;
  }
  &__content {
    &-conteiner {
      overflow: hidden;
    }
    overflow: hidden;
    &::after {
      @media (max-width: 1470px) {
        content: "";
      }
      content: url("../images/aboutDesign/bag.png");
      position: absolute;
      right: 100px;
      bottom: 92px;
    }
  }
  &__title {
    margin-bottom: 84px;
    @media (max-width: 768px) {
      margin-bottom: 44px;
    }
    @media (max-width: 480px) {
      margin-bottom: 17px;
    }
  }
  &__transcription {
    border-left: 1px solid #000000;
    padding-left: 40px;
    transform: translateX(57px);
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    &-conteiner {
      padding: 30px 70px 54px 0;
      border-radius: 0 0 15px 15px;
      position: fixed;
      //opacity: 0;
      //z-index: -1;
      user-select: none;

      //-moz-user-select: none;

      //-ms-user-select: none;
      background-color: $white;
      transition: all 0.5s;
      transform: translate(0px, -160px);
      @media (max-width: 480px) {
        padding-left: 25px;
      }
      &.open {
        @media (max-width: 480px) {
          //padding-left: 22px;
        }
        transform: translate(0px, 0px);
        position: relative;
        opacity: 1;
        //z-index: 1;
        margin-top: -1px;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
  &__item {
    background-color: $white;
    padding: 14px 24px 14px 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    border-radius: 15px;
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 5;
    &.open {
      margin-bottom: 0;
      border-radius: 15px 15px 0 0;
    }
    @media (max-width: 480px) {
      padding: 14px 24px 14px 36px;
      font-size: 17px;
    }
    &-conteiner {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
    }
    &-title {
      position: relative;
      transition: all 0.3s;
      @media (max-width: 480px) {
        font-size: 15px;
      }
      &::before {
        content: " ";
        top: calc(50% - 12px);
        left: -50px;
        width: 24px;
        height: 24px;
        background-color: $green;
        position: absolute;
        border-radius: 50%;
        @media (max-width: 480px) {
          left: -28px;
          top: calc(50% - 7px);
          width: 15px;
          height: 15px;
        }
      }
      &.open {
        @media (min-width: 480px) {
          font-size: 21px;
        }
        font-weight: 700;
        line-height: 125%;
        &::before {
          background-color: $primary;
        }
      }
    }

    &-errow {
      transition: all 0.3s;
      &.open {
        transform: rotateX(180deg);
      }
    }
  }
}
