@import "./config";
.about {
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 41px;
    left: -150px;
    width: 300px;
    height: 180px;
    border: 2px solid #67aefc;
    border-radius: 50%;
  }
  &::after {
    content: url(../images/repeats/Layer.png);
    transform: rotateY(180deg);
    width: 171px;
    position: absolute;
    bottom: 75px;
    left: 100px;
  }
  &__conteiner {
    padding: 92px 0 41px 0;
    display: flex;
    //@media screen and (max-width: 1530px) {
    //  flex-direction: column-reverse;
    //}
  }
  &__content {
    position: relative;
    min-width: 550px;
    margin-right: 60px;
    //@media screen and (max-width: 1530px) {
    //  text-align: center;
    //  margin-right: 0px;
    //}
    &-sphere {
      width: 53px;
    }
    &-text {
      width: 87%;
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #111111;
      margin-bottom: 58px;
    }
  }
  &__content-sphere {
    position: absolute;
    left: -84px;
    top: -25px;
  }

  &__images {
    position: relative;
    //background: url(../images/repeats/waveBlue.png) no-repeat;
    background-position: left 60%;
    position: relative;
    &__market {
      width: 216%;
    }
    &-ellips {
      position: absolute;
      width: 1220px;
      height: 550px;
      background-color: $secondary;
      border-radius: 50%;
      left: 41%;
      bottom: 98px;
      z-index: -1;
    }
    &::before {
      content: url(../images/aboutPage/CylinderBlue.png);
      position: absolute;
      top: 0;
      left: calc(50% - 131px);
    }
  }
  &__content-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    margin-bottom: 53px;
  }
}
