@import "./config.scss";
.design {
  width: 100%;
  padding: 110px 0;
  position: relative;
  background-color: $secondary;
  @media (max-width: 1024px) {
    padding: 43px 0;
  }
  &__content {
    &::after {
      @media (max-width: 1470px) {
        content: "";
      }
      content: url("../images/aboutDesign/bag.png");
      position: absolute;
      right: 100px;
      bottom: 92px;
    }
  }
  &__title {
    margin-bottom: 84px;
    @media (max-width: 768px) {
      margin-bottom: 44px;
    }
    @media (max-width: 480px) {
      margin-bottom: 17px;
    }
  }
  &__item {
    background-color: $white;
    padding: 14px 24px 14px 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    &-conteiner {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-transcription.open {
      &-conteiner {
        align-items: baseline;
      }
    }
    &-title {
      padding-left: 40px;
      transition: all 0.3s;
      &::before {
        content: " ";
        top: 14px;
        left: 48px;
        width: 24px;
        height: 24px;
        background-color: $green;
        position: absolute;
        border-radius: 50%;
      }
      &.open {
        font-weight: 700;
        font-size: 21px;
        line-height: 125%;
        padding-bottom: 41px;
        &::before {
          background-color: $primary;
        }
      }
    }

    &-transcription {
      border-left: 1px solid #000000;
      padding-left: 40px;
      display: none;
      transform: translateY(-500px);
      transition: all 1s;
      &.open {
        display: block;
        transform: translateY(0);
      }
    }

    &-errow {
      transition: all 0.3s;
      &.open {
        transform: rotateX(180deg);
      }
    }
  }
}
