@import "./config";
.exemples {
  background-color: $secondary;
  padding: 121px 0;
  position: relative;
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 480px) {
    padding: 30px 0;
  }
  &__conteiner {
    @media (max-width: 480px) {
      overflow: hidden;
    }
  }
  &:before {
    position: absolute;
    content: url(../images/exemples/waveDecoration.png);
    top: 17%;
    left: 5%;
    @media (max-width: 1470px) {
      content: "";
    }
  }
  &::after {
    position: absolute;
    content: "";
    background: url(../images/exemples/Sphere.png);
    background-size: cover;
    width: 108px;
    height: 108px;
    bottom: 17%;
    right: 5%;
    @media (max-width: 1470px) {
      bottom: -3%;
    }
    @media (max-width: 1024px) {
      width: 58px;
      height: 58px;
    }
  }

  &__content {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 27px;
    margin-top: 51px;

    @media (max-width: 480px) {
      //overflow: hidden;
      max-height: 923px;
      flex-direction: column;
      gap: 14px;
    }
    @media (max-width: 360px) {
      max-height: 693px;
    }
  }
  &__item {
    width: 49%;
    border-radius: 15px;
    color: #fff;
    transition: 0.3s;
    position: relative;
    &:nth-child(-n + 3),
    &:nth-last-child(-n + 3) {
      display: none;
      @media (max-width: 480px) {
        display: block;
      }
    }

    @media (max-width: 480px) {
      min-width: 100%;
    }
    div {
      text-align: center;
      opacity: 0;
      transition: 0.3s;
      position: absolute;
      top: calc(50% - 29px);
      left: calc(50% - 97px);
    }
    p {
      font-weight: 700;
      font-size: 21px;
      line-height: 125%;
    }
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 175%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      background: $primary;
      img {
        opacity: 0;
      }
      div {
        opacity: 1;
      }
    }
  }
}
