@import "./config.scss";
.informations {
  position: relative;
  padding: 135px 0 104px 0;
  @media (max-width: 1024px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 43px 0 50px 0;
  }

  &__title-mobile {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      padding: 0 20px;
    }
  }
  &__sphere {
    width: 53px;
    position: absolute;
    top: 22%;
    left: 11%;
    @media (max-width: 1400px) {
      top: 5%;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__conteiner {
    display: flex;
    gap: 35px;
    @media (max-width: 1200px) {
      gap: 0;
    }
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }
  &__content {
    min-width: 58%;
    margin-top: 79px;
    @media (max-width: 1200px) {
      min-width: 50%;
      margin-top: 0px;
    }

    h2 {
      text-align: left;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    button {
      @media (max-width: 1024px) {
        margin: 0 auto;
      }
    }
    p {
      padding: 53px 0 45px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #111;
      @media (max-width: 768px) {
        padding: 29px 0;
        font-style: 17px;
      }
    }
  }
  &__images {
    @media (max-width: 1024px) {
      display: flex;
      justify-content: center;
      padding-top: 32px;
    }
    &-desktop {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}
